<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
    <h2 class="footer__title">get in touch with us</h2>
    <div class="footer-text">
    <p class="footer__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio.
      <span class="footer__text hidden--text">
        Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
      </span>
    </p>

  </div>
    <ul class="footer__logos">
      <li class="footer__logo">
        <a href="#"><img src="@img/RSS.svg" alt="rss-logo" /></a>
      </li>
      <li class="footer__logo">
        <a href="#"><img src="@img/Facebook.svg" alt="facebook-logo" /></a>
      </li>
      <li class="footer__logo">
        <a href="#"><img src="@img/Twitter.svg" alt="twitter-logo" /></a>
      </li>
      <li class="footer__logo">
        <a href="#"><img src="@img/Dribbble.svg" alt="dribbble-logo" /></a>
      </li>
      <li class="footer__logo">
        <a href="#"><img src="@img/Pinterest.svg" alt="pinterest-logo" /></a>
      </li>
    </ul>

    <div class="footer-contacts">
     <p class="footer-contacts__item">Moonshine St. 14-05 Light City</p> 
     <p class="footer-contacts__item"> T. +00 (123) 456 78 90</p>
     <p class="footer-contacts__item">first.last@email.com</p>
    </div>
  </div>
  </div>
</footer>
