<header class="header">
  <div class="header-container">
    <div class="header-content">
      <div class="header__row">
      <nav class="header-menu main-menu">
        <ul class="header-menu__items">
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Home</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">About Us</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Our Journal</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Projects</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">News</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Features</a>
          </li>
          <li class="header-menu__item">
            <a href="#" class="header-menu__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <span class="burger-menu__item"></span>
        <span class="burger-menu__item"></span>
        <span class="burger-menu__item"></span>
      </div>
    </div>
      <div class="header__img">
        <img src="@img/intro.png" alt="railways" />
      </div>
    </div>
  </div>
</header>
