<section class="instagram-section">
    <div class="instagram-section-container">
      <div class="instagram-section-content">
      <div class="instagram__titles">
        <h2 class="instagram__title">Latest Instagram Shots</h2>
        <h2 class="instagram__title hidden--title">Last Instagram Shot</h2>
        <h3 class="instagram__subtitle hidden--subtitle">
          go to our instagram page
        </h3>
      </div>
      <ul class="instagram__list">
  
        <li class="instagram__item">
          <img class="instagram__img" src="@img/shot-1.png" alt="bycicle" />
        </li>
  
        <li class="instagram__item">
          <img class="instagram__img" src="@img/shot-2.png" alt="entrance" />
        </li>
  
        <li class="instagram__item">
          <img class="instagram__img" src="@img/shot-3.png" alt="wire" />
        </li>
        
        <li class="instagram__item">
          <img class="instagram__img" src="@img/shot-4.png" alt="old-car" />
        </li>
      </ul>
    </div>
  </div>
  </section>
  