<section class="post-section">
  <div class="post-section-container">
    <h2 class="post-section__title">our Recent posts</h2>

    <ul class="posts-list">
      <li class="post__item">
        <img class="post__img" src="@img/post-img-1.png" alt="teapot" />
        <div class="post__description">
          <p class="post__title">Aenean Adipiscing Etiam Vestibulum</p>
          <span class="post__comments">Photography, Journal / 9 Comments </span>
          <p class="post__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </li>

      <li class="post__item">
        <img class="post__img" src="@img/post-img-2.png" alt="rain" />
        <div class="post__description">
          <p class="post__title">Aenean Adipiscing Etiam Vestibulum</p>
          <span class="post__comments">Photography, Journal / 9 Comments </span>
          <p class="post__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </li>

      <li class="post__item">
        <img class="post__img" src="@img/post-img-3.png" alt="cafe" />
        <div class="post__description">
          <p class="post__title">Aenean Adipiscing Etiam Vestibulum</p>
          <span class="post__comments">Photography, Journal / 9 Comments </span>
          <p class="post__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </li>

      <li class="post__item">
        <img class="post__img" src="@img/post-img-4.png" alt="roses" />
        <div class="post__description">
          <p class="post__title">Aenean Adipiscing Etiam Vestibulum</p>
          <span class="post__comments">Photography, Journal / 9 Comments </span>
          <p class="post__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
