.footer{
    width: 100%;
    background-color: black;
}

.footer-content{
    max-width: 88%;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title{
    @include big-font;
    color: $light-beige;
    padding-bottom: 8px;
   

    &::before{
        content: '-';
        padding: 3px;
    }

    &::after{
        content: '-';
        padding: 3px;
    }
}

    .footer__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: $light-grey;
    text-align: center;
    }

    .hidden--text{
        display: none;
    }

    .footer__logos{
        min-width: 70%;
        display: flex;
        justify-content: center;
        padding-top: 26px;
    }

    .footer__logo{
        padding-left: 6px;
    }

    .footer-contacts{
        @include flex-center;
        flex-direction: column;
        padding-top: 25px;
    }

    .footer-contacts__item{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $light-grey;

        &:not(:last-of-type)::after{
            content: '/';
            padding: 0 10px;
        }
    }



@media (min-width:768px){
    .footer__title{
        @include big-font;
        font-size: 16px;
        color: $light-beige;
        padding-bottom: 22px;
        padding-top: 19px;
    }

    .footer__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: $light-grey;
        text-align: center;
    }

    .hidden--text{
        display:inline;
    }

    .footer__logos{
        padding-top: 37px;
    }

    .footer-contacts{
        @include flex-center;
        flex-direction: row;
        padding-top: 34px;
    }

    .footer-contacts__item{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $light-grey;

        &:not(:last-of-type)::after{
            content: '/';
            padding: 0 10px;
        }
    }
}



@media (min-width:1200px){
    .footer__title{
        padding-top: 28px;
    }
    .footer-text{
        max-width: 65%;
    }
}