.header-container{
    max-width: 85%;
    margin: 0 auto;
}

.header__img img{
    max-width: 100%;
    min-height: 150px;
}


@media (max-width: 767.98px){
    .header-menu__items{
        display: none;
    }

    .header__row{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 83px;
    }

    .burger-menu{
        width: 44px;
        height: 37px;
        position: relative;
        z-index:2;
        overflow: hidden;
        background-color: black;
        cursor: pointer;
    }

    .burger-menu__item {
        width: 17px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }

    .burger-menu__item:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .burger-menu__item:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .burger-menu.active .burger-menu__item:nth-of-type(1) {
        display: none;
    }

    .burger-menu.active .burger-menu__item:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }

    .burger-menu.active .burger-menu__item:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .header-menu{
        width: 85%;
        display: flex;
        justify-content: flex-end;
    }
    
    .header-menu__items.active{
        width: 183px;
        position: absolute;
        top: 60px;
        right: 7.5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 210px;
        background: #f5f5f5;
        text-transform: uppercase;
        @include small-font;

    } 

    .header-menu{
        display: flex;
        justify-content: flex-end;
        
    }

    .header-menu__link{
        display: block;
        padding: 4px 15px;
        color: $primary-color;
        &:hover{
            background-color: #e5e5e5;
            color: $active;
        }

    }

}


@media (min-width: 768px){
    .burger-menu{
        display: none;
    }

    .header-menu__items{
        max-width: 70%;
        margin: 0 auto;
        min-height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        padding-bottom: 28px;
    }

    .header-menu__link{
        text-transform: uppercase;
        @include small-font;
        &:hover{
            color: $active;
        }
    }

    .header__img img{
        min-width: 100%;
    }
}




