@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin small-font{
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $primary-color;
}

@mixin big-font{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $primary-color;
    text-transform: uppercase;
}