.instagram-section{

    .instagram-section-container{
    max-width: 85%;
    margin: 0 auto;
    }

    .instagram__title{
        display: none;
    }

    .instagram__subtitle{
        display: none;
    }

    .hidden--title{
        display: block;
        @include big-font;
        margin-top: 78px;
        margin-bottom: 13px;
        cursor: pointer;

        &::before{
            content: '-';
            padding-right: 4px;
        }
    }

    .instagram__item:not(:first-of-type){
        display: none;
    }

    .instagram__img{
        max-width: 100%;
        margin-bottom: 42px;
    }
}

@media (min-width: 768px){

    .instagram-section{
        min-width: 100%;
        background-color: rgba(0, 0, 0, 0.03);

        .instagram__titles{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 47px;
        padding-bottom: 36px;
        }

        .instagram__title{
            display: block;
            @include big-font;
            font-size: 16px;
            cursor: pointer;

            &::before{
                content: '-';
                padding-right: 3px;
            }
        }

        .instagram__subtitle{
            display:  block;
            @include big-font;
            font-size: 13px;
            cursor: pointer;

            &::after{
                content: '-';
                padding-left: 3px;
            }
        }

        .hidden--title{
            display: none;
        }

        .instagram__item:not(:last-of-type){
            display: block;
        }
        .instagram__item:not(:first-of-type){
            padding-left: 10px;
        }

        .instagram__list{
            min-width: 100%;
            justify-content: space-between;
            display: flex;
        }

        .instagram__img{
            min-width: 100%;
            padding-bottom: 50px;
        }
            
        
    }
}

@media (min-width: 1200px){
    .instagram-section{
    .instagram__item:last-of-type{
        display: block;
    }
}
}