.post-section__title{
    @include big-font;
    padding-top: 38px;
    
    &::before{
        content: '-';
        padding-right: 2px;
    }   
}

@media (min-width: 320px){
    .post-section{
        max-width: 85%;
        margin: 0 auto;
    }

        .post-list{
            display: flex;
        }


        .post__item{
        .post__img{
            min-width: 160px;
            padding-top: 24px;
            min-height: 140px;
        }

        .post__title{
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            color: $primary-color;
            padding-top: 11px;
        }

        .post__comments{
            display: block;
            @include small-font;
            line-height: 20px;
            color: $grey;
        }

        .post__text{
            display: none;
        }

        &:last-of-type{
            display: none;
        }
    }
}

@media (min-width: 768px){

        .post-section__title{
        font-size: 16px;
        }

        .post__item{
            display: flex;

            .post__description{
                padding-left: 20px;
            }
    
            .post__title{
                font-size: 16px;
                padding-top: 22px;
                cursor: pointer;
            }
    
            .post__text{
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                color: $accent-color;
                padding-top: 13px;


            }
    
            &:last-of-type{
                display:inline-flex;
            }
        }
    }

@media (min-width: 1200px){

    .posts-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 64px;

    .post__item{
        max-width: 50%;
        // padding-left: 15px;
    }
    .post__item:nth-of-type(2n){
        padding-left: 15px;
    }
}
}