@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);
@import "./variables";
@import "./mixins";

@import "./header";
@import "./section-post";
@import "./section-instagram";
@import "./footer";

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}